[Unit]
Description=Hiverize measurement daemon
After=syslog.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/
ExecStart=/usr/bin/python3 -m hiverize.measure
SyslogIdentifier=hiverize
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
